{% extends "layout.html" %}

{% block body_content %}
<div class="container my-5">
    <h1 class="text-center mb-4">Meet Our Team</h1>
    <div class="row text-center justify-content-center">
        <!-- Profile card -->
        <div class="col-lg-3 col-md-6 col-sm-12 d-flex">
            <div class="card shadow-sm mx-auto">
                <img src="../static/Isaiah.jpeg" class="card-img-top rounded-circle" alt="Isaiah profile">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Isaiah: Technology Graduate</h5>
                    <p class="card-text">Isaiah specializes in tech innovations.</p>
                    <a href="https://www.linkedin.com/in/isaiah-moses/" class="btn btn-light mt-auto">Learn More</a>
                </div>
            </div>
        </div>

        <!-- Profile card -->
        <div class="col-lg-3 col-md-6 col-sm-12 d-flex">
            <div class="card shadow-sm mx-auto">
                <img src="../static/Muhammad.png" class="card-img-top rounded-circle" alt="Muhammad profile">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Muhammad: Technology Graduate</h5>
                    <p class="card-text">Muhammad excels in AI and data analytics.</p>
                    <a href="https://www.linkedin.com/in/muhammad-ahsan-28aa5b191/" class="btn btn-light mt-auto">Learn More</a>
                </div>
            </div>
        </div>

        <!-- Profile card -->
        <div class="col-lg-3 col-md-6 col-sm-12 d-flex">
            <div class="card shadow-sm mx-auto">
                <img src="../static/Anand.png" class="card-img-top rounded-circle" alt="Anand profile">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Anand: Technology Graduate</h5>
                    <p class="card-text">Anand is passionate about software development.</p>
                    <a href="https://www.linkedin.com/in/anand-vadukul-ba8047223/" class="btn btn-light mt-auto">Learn More</a>
                </div>
            </div>
        </div>

        <!-- Profile card -->
        <div class="col-lg-3 col-md-6 col-sm-12 d-flex">
            <div class="card shadow-sm mx-auto">
                <img src="../static/Noor.png" class="card-img-top rounded-circle" alt="Noor profile">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Noor: Cybersecurity Graduate</h5>
                    <p class="card-text">Noor specializes in cybersecurity solutions.</p>
                    <a href="https://www.tiktok.com/@noory.__?lang=en" class="btn btn-light mt-auto">Learn More</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Company Values Section -->
    <section class="company-values-section py-5 mt-5">
        <h2 id="company-values" class="sub-title text-center">Company Values</h2>
        <div class="mission-statement my-4 text-center">
            <h3>Mission Statement</h3>
            <p>Our mission is to empower individuals to take charge of their environmental impact by providing intuitive tools for tracking sustainability.</p>
        </div>
        <div class="our-aim my-4 text-center">
            <h3>Our Aim</h3>
            <p>At SkySustain, we strive to make sustainability accessible and measurable for everyone, offering insights and recommendations for positive environmental change.</p>
        </div>
        <div class="feedback my-4 text-center">
            <h3>Feedback</h3>
            <p>We value your feedback! Your insights help us improve SkySustain. Please share your thoughts, suggestions, or any issues you’ve encountered.</p>
        </div>
    </section>
</div>
{% endblock %}
