{% extends "layout.html" %}

{% block body_content %}

    <div class="grid text-center my-4">
        <div class="row">
            <!-- Profile card -->

            <div class="col-md card" style="width: 18rem;">
                <img src="../static/Isaiah.jpeg" class="card-img-top" alt="Isaiah profile">
                <div class="card-body">
                <h5 class="card-title">Isaiah: Technology Graduate</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="https://www.linkedin.com/in/isaiah-moses/" class="btn btn-light">Learn More</a>
                </div>
            </div>

        <!-- Profile card -->
    
            <div class="col-md card" style="width:18rem;">
                <img src="../static/Isaiah.jpeg" class="card-img-top" alt="Isaiah profile">
                <div class="card-body">
                <h5 class="card-title">Muhammad: Technology Graduate</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="https://www.linkedin.com/in/muhammad-ahsan-28aa5b191/" class="btn btn-light">Learn More</a>
                </div>
            </div>

        <!-- Profile card -->

            <div class="col-md card " style="width: 18rem;">
                <img src="../static/Anand.png" class="card-img-top" alt="Isaiah profile">
                <div class="card-body">
                  <h5 class="card-title">Anand: Technology Graduate</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="https://www.linkedin.com/in/anand-vadukul-ba8047223/" class="btn btn-light">Learn More</a>
                </div>
            </div>
    
        <!-- Profile card -->
        
            <div class="col-md card" style="width: 18rem;">
                <img src="../static/Noor.png" class="card-img-top" alt="Isaiah profile">
                <div class="card-body">
                  <h5 class="card-title">Noor: Cybersecurity Graduate</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="https://www.tiktok.com/@noory.__?lang=en" class="btn btn-light">Learn More</a>
                </div>
            </div>

        </div>
    </div>

    <h2 id="company-values" class="sub-title p-4">Company Values</h2>

    <div class="sub-text ms-4 mt-3">
        <h3 class="text-center">Mission Statement</h3>
        <p class="text-center">Our mission is to empower individuals to take charge of their environmental impact. By providing intuitive tools for tracking and reducing your sustainability footprint, we aim to inspire meaningful action towards a healthier planet.</p>

    </div>
    <div class="sub-text ms-4 mt-3">
        <h3 class="text-center">Our Aim</h3>
        <p class="text-center">Our aim at SkySustain is to become the leading platform for sustainability tracking, offering users actionable insights and personalized recommendations that drive positive environmental change.
          We strive to make sustainability accessible, measurable, and achievable for everyone, helping to build a world where every individual can contribute to a greener future.</p>
    </div>

    <div class="sub-text ms-4 mt-3 my-4">
        <h3 class="text-center">Give us some feedback</h3>
        <p class="text-center">We value your feedback! Your insights help us improve SkySustain and better serve our community. Please share your thoughts, suggestions, or any issues you've encountered. Together, we can make sustainability tracking even more impactful. Thank you for helping us grow and improve!</p>


    </div>
{% endblock %}