{% extends "layout.html" %}

{% block body_content %}
    <!-- Main Content Wrapper -->
    <div class="content-wrapper">
        <!-- Image with overlayed text -->
        <div class="fixed-image">
            <img src="../static/Windmill.png" alt="Sky Zero Initiative">
            <div class="overlay-content">
                <p2>Through initiatives like Sky Zero and Sky Ocean Rescue, we are committed to reducing our environmental impact and advancing a sustainable future for all.</p2>
            </div>
            <h2 class="overlay-text">Sustainable Future</h2>
        </div>
    </div>

    <!-- Rest of your content... -->
    <div class="grid text-center my-4">
        <div class="row">
        </div>
    </div>
{% endblock %}
